{% extends 'base.html.twig' %}

{% block title %}{{ package }}{% endblock %}

{% block body %}

<div class="row">

                {% set composer = package.composerJson %}
{#                {{ namespace }}#}
{#                {{ package.composerJson.name }}#}
                <b>{{ composer.shortName }}</b>

    {{ dump(composer) }}

                <i>{{ composer.description }}</i>
                {{ composer.keywords|join(',') }}
                <ul>
                    {% for class in package.classes() %}
                        <li>{{ class }}</li>
                    {% endfor %}
                </ul>
            </li>

</div>
{% endblock %}
