{% extends 'base.html.twig' %}

{% block title %}{{ package }}{% endblock %}

{% block body %}

    <div class="row">

        {% set composer = package.composerJson %}
        {#                {{ namespace }}#}
        {#                {{ package.composerJson.name }}#}
        <b>{{ composer.shortName }}</b>
        <div>
            <i>{{ composer.description }}</i>
        </div>

        <h3>Requires</h3>
        <ul>
            {% for dep, version in composer.require %}
                <li>{{ dep }} {{ version }}</li>
            {% endfor %}
        </ul>


        <h3>Classes</h3>
        {{ composer.keywords|join(',') }}
        <ul>
            {% for class in package.classes(true) %}
                <li>{{ class }}</li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}



