{% extends 'base.html.twig' %}

{% block title %}Official index{% endblock %}

{% block body %}
    <h1>Using simple-datatables</h1>

    {% set _sc = '@survos/simple-datatables-bundle/table' %}
    <p>
        The table is generated with Symfony's make:crud, the stimulus_controller <code>{{ _sc }}</code> controller is to the table element.
    </p>

    <table class="table" {{ useStimulus|default(false) ? stimulus_controller(_sc, {perPage: app.request.get('perPage', 10)}) }}>
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>OfficialName</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for official in officials %}
            <tr>
                <td>{{ official.id }}</td>
                <td>{{ official.firstName }}</td>
                <td>{{ official.lastName }}</td>
                <td>{{ official.officialName }}</td>
                <td>{{ official.birthday ? official.birthday|date('Y-m-d') : '' }}</td>
                <td>{{ official.gender }}</td>
                <td>
                    <a href="{{ path('app_congress_show', {'id': official.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_congress_new') }}">Create new</a>
{% endblock %}
