{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    {% set url = 'https://jsonplaceholder.typicode.com/users' %}
    {% set users = request_data(url) %}

    {% set url = 'https://jsonplaceholder.typicode.com/users' %}
    {% set users = request_data(url) %}

    {% set columns = users[0]|keys %}

    <div{{ stimulus_controller('hello') }}>
        Hi there.
    </div>

    <div{{ stimulus_controller('@survos/grid-bundle') }}>
        grid
    </div>

    <div{{ stimulus_controller('@symfony/ux-chartjs') }}>
        grid
    </div>


    <twig:grid :data="users" :columns="columns">
        <twig:block name="id">
            {{ row.id }}
        </twig:block>
    </twig:grid>

    <ul>
        {% for row in users %}
            <li>{{ row.name }} / {{ row.website }}</li>
        {% endfor %}
    </ul>
{% endblock %}
