{% extends 'base.html.twig' %}

{#{% block javascripts %}#}
{#    {{ importmap('app') }}#}
{#    <script type="module">#}
{#        import DataTable from 'https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.mjs'#}
{#        let el=document.getElementById('example');#}
{#        let dt=new DataTable(el);#}
{#    </script>#}
{#{% endblock %}#}

{% block body %}

{#    <div {{ stimulus_controller('hello') }}>#}
{#        Hola#}
{#    </div>#}
    Some Grid Demos

    {% set url = 'https://jsonplaceholder.typicode.com/posts' %}
    {% set data = request_data(url) %}

    {% set columns = data[0]|keys %}
    <twig:grid :data="data" tableId="example" :columns="columns" useDatatables="false">
        <twig:block name="id">
            {{ row.id }}
        </twig:block>
    </twig:grid>

    <twig:grid :data="data" :columns="columns|reverse" useDatatables="true">
        <twig:block name="id">
            {{ row.id }}
        </twig:block>
    </twig:grid>


{% endblock %}

{% block demo %}
    {% for color in ['primary','warning'] %}
        <twig:button :color="color">
            the color is
            {{ color }}
        </twig:button>

        <twig:button :color="color">
            extra content
        </twig:button>

    {% endfor %}

    <a href="{{ path(app.request.attributes.get("_controller")) }}">
        {{ app.request.attributes.get("_controller") }}
    </a>


{#    {% for _sc in ['@survos/datatables-bundle/table', '@survos/grid-bundle/grid'] %}#}
{#    {% for _sc in ['@survos/datatables-bundle/table'] %}#}
    {% for _sc in ['@survos/grid-bundle/grid'] %}
    <h3>{{ _sc }}</h3>
     <table class="datatables"
             {{ stimulus_controller(_sc) }}
     >
        <thead>
        <tr>
            <th>abbr</th>
            <th>name</th>
            <th>number</th>
        </thead>
        <tbody>
        {% for j in 1..12 %}
            <tr>
                <td>{{ j |date('2023-' ~ j ~ '-01') |date('M') }}</td>
                <td>{{ j |date('2023-' ~ j ~ '-01') |date('F') }}</td>
                <td>{{ j }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
{% endblock %}
