{% extends 'base.html.twig' %}

{% block title %}Official index{% endblock %}

{% block body %}
    <h1>Official index </h1>
    <p>
        This page uses the <code>grid</code> component, and generates HTML from the query.
    </p>

    {% set columns =
        [
            'id',
            'firstName',
            'lastName',
            {name: 'actions', condition: is_granted('ROLE_ADMIN')},
            'officialName',
            'birthday',
            'terms'
        ] %}

    <twig:grid
            :data="officials"
            :columns="columns"
    >

        <twig:block name="officialName">
            <a href="{{ path('app_congress_show', {'id': row.id}) }}">
                {{ row.officialName }}
            </a>
        </twig:block>

        <twig:block name="birthday">
            {{ row.birthday|date('Y-m-d') }}
        </twig:block>


        {% block actions %}
            <a href="{{ path('app_congress_edit', {'id': row.id}) }}">edit</a>
        {% endblock %}


    </twig:grid>

    {#    {% component grid with { #}
    {#        data: officials, #}

    {#    } %} #}

    {#        {% block officialName %} #}
    {#            <a href="{{ path('app_congress_show', {'id': row.id}) }}"> #}
    {#                {{ row.officialName }} #}
    {#            </a> #}
    {#        {% endblock %} #}

    {#        {% block birthday %} #}
    {#            {{ row.birthday|date('Y-m-d') }} #}
    {#        {% endblock %} #}

    {#        {% block actions %} #}
    {#            <a href="{{ path('app_congress_edit', {'id': row.id}) }}">edit</a> #}
    {#        {% endblock %} #}

    {#    {% endcomponent %} #}

{% endblock %}
